- const title1 = {"title": "the happy couple", "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus."}
- const photo = [{"src": "./image/him2.jpg", "a": "about him", "h4": "*** the groom ***"}, {"src": "./image/her2.jpg", "a": "about her", "h4": "*** the bride ***"}]
- const arrH2 = ["counting", "down"]
- const arrSpan = [{'amount': 0, 'period': 'W'}, {'amount': 0, 'period':'D'}, {'amount': 0, 'period': 'H'}, {'amount': 0, 'period': 'm'}, {'amount': 0, 'period': 's'}]
- const title2 = {"title": "the wedding", "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing"}
- const photo1 = [{"src": "./image/the-wedding-1a.jpg", "a": "get direction"}, {"src": "./image/the-wedding-4a.jpg", "a": "gift list"}, {"src": "./image/accomodation.jpg", "a": "accomodation"}]
- const title3 = {"title": "are you attending", "paragraph": "Please reserve before June 19th, 2015. Lorem ipsum dolor sit amet, consectetur adipiscing"}