header
  nav.container
    .row
      a.logo(href="#")
        strong g
        i.fas.fa-heart
        strong d
      #nav__menu
        - const arryNav = [ "home", "about", "gallery", "the story", "the wedding", "blog", "page", "rsvp"]
        input(type="checkbox" id="menu")
        label(for="menu")
        ul
          for n in arryNav
            li
              case n
                when 'home'
                  a(href="./index.html")=n
                when 'the wedding'
                  a(href="./theWedding.html")=n
                default 
                  a(href="#")=n
              i.fas.fa-heart