//- mixin
include ./customMixin

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title FOREVER
    link(rel="icon" href="./image/favicon.jpg")
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="fontawesome-free-5.13.0-web/css/all.min.css")
  body
    include ./constant
    include ./header
    block main
      main
        section#slide
          .slide__slidy
          - const arrH1 = ["save", "the date", "- 27 . 11 . 98 -"]
          .slide__content
            for n in arrH1
              h1=n
            h2 *** we are getting married ***
            .slide__content__icon
              + customIcon
        section#couple
          .container
            .title
              + customTitle(title1)
            .row
              + customPhoto(photo[0])
              + customPhoto(photo[1])
        section#countdown
          .countdown
            h2 *** at foxegan hotel & restaurant, los angeles ***
            for n in arrH2
              h1=n
            .countdown__icon
              + customIcon
            span.countdown--row
              for n in arrSpan
                + customCountdown(n)
        section#rsvp
          .rsvp__title
            + customTitle(title3)
          a(href="#") rsvp
    include ./footer

