// variable
$color: #f0394d;
$colorWhite: #FFF;
$colorSilver: #e1dddd;
$time: 0.5s;
$timeZero: 0s;
$center: center;

// mixin
@mixin customFontFace($fontFamily, $src) {
  @font-face {
    font-family: $fontFamily;
    src: url($src);
  }
}

@mixin customSpan($width, $height, $px, $color) {
  display: inline-block;
  width: $width;
  height: $height;
  border-top: solid $px $color;
}

@mixin customIcon($position, $count, $z, $color, $result) {
  position: $position;
  z-index: $z;
  color: $color;
  @if $result == true {
    right: $count;
  }
  @else {
    left: $count;
  }
}

@mixin customVisibility($opacity, $duration, $delay) {
  opacity: $opacity;
  transition: $duration $delay;
}

@mixin customPosition($position, $top, $left, $z, $width, $height, $result) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $z;
  @if $result == true {
    width: $width;
    height: $height;
  }
}


// placeholder
%customBorder {
  border: {
    top: medium double $colorWhite;
    bottom: medium double $colorWhite;
  }
}

%customSlide {
  @keyframes slidy {
    0% {
      left: 0%;
    }
    30% {
      left: 0%;
    }
    33% {
      left: -100%;
    }
    63% {
      left: -100%;
    }
    66% {
      left: -200%;
    }
    100% {
      left: -200%;
    }
  }
}

%customFlexCenter {
  display: flex;
  justify-content: $center;
  align-items: $center;
}

// font-face
@include customFontFace(roboto, "./font/Roboto-Light.ttf");
@include customFontFace(roboto-bold, "./font/Roboto-Bold.ttf");
@include customFontFace(roboto-italic, "./font/Roboto-LightItalic.ttf");
@include customFontFace(pacifico-regular, "./font/Pacifico-Regular.ttf");

// format css
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

// header
header {
  border-top: 2px $color solid;
  nav.container {
    @include customPosition(absolute, 0, 15%, 999, 0, 0, false);
    background: transparent;
    
    .row {
      .logo {
        @include customPosition(none, 0, 0, 0, 80px, 80px, true);
        @extend %customFlexCenter;
        color: $colorWhite;
        background-color: $color;
        margin-top: 5px;
        border-radius: 50%;
        
        font: {
          size: 31px;
          family: "roboto-bold";
        }
        text: {
          decoration: none;
          transform: uppercase;
        }
        i {
          font-size: 12px;
          padding: 3px;
        }
      }
  
      #nav__menu {
        ul {
          display: flex;
          list-style: none;
          text-transform: uppercase;
          color: $colorWhite;
          padding: 30px 0px;

          font: {
            size: 16px;
            family: "roboto-bold";
          }
          li {
            margin-left: 15px;
            cursor: pointer;

            i {
              font-size: 10px;
              color: $color;
              margin-left: 15px;
            }
          }
          li:nth-child(8) {
            i {
              display: none;
            }
          }
          li:hover {
            color: $color;
          }
        }
      }
    }
  }
}

// slide
#slide {
  overflow: hidden;

  .slide__slidy {
    @include customPosition(relative, 0, 0, 0, 300%, 100hv, true);
    animation: 30s slidy infinite;

    &:after {
      content: '';
      @include customPosition(absolute, 0, 0, 0, 100%, 100%, true);
      background:rgba(0,0,0,0.2);
    }

    @extend %customSlide;

    img {
      width: 33.33333%;
      height: 100vh;
    }
  }

  .slide__content {
    @include customPosition(absolute, 20%, 50%, 1, 0, 0, false);
    color: $colorWhite;
    
    h1 {
      width: 300px;
      line-height: 1.2;
      margin-left: -150px;
      transform: rotate(-10deg);

      font: {
        size: 50px;
        family: "pacifico-regular";
      }

      text: {
        align: $center;
        transform: capitalize;
      }
    }

    h1:nth-child(3) {
      font-size: 40px;
    }

    h2 {
      width: 400px;
      padding: 10px 0;

      font: {
        family: "roboto";
        size: 16px;
      }
      text: {
        align: $center;
        transform: uppercase;
      }
      margin: {
        left: -200px;
        top: 40px;
      }
      @extend %customBorder;
    }

    &__icon {
      width: 100px;
      text-align: $center;

      margin: {
        top: 40px;
        left: -50px;
      }
      i {
        padding: 5px;
        font-size: 20px;
      }
      span {
        @include customSpan(10px, 8px, 1px, $colorWhite);
      }
      i:nth-child(2) {
        @include customIcon(relative, -7px, 1, $color, true);
      }
      i:nth-child(3) {
        @include customIcon(relative, -7px, 0, $colorWhite, false);
      }
    }
  }
}

// couple
#couple {
  margin-top: 100px;
  .container {
    .row {
      .title {
        font-family: "roboto";
        text-align: $center;

        h1 {
          font-size: 40px;
          color: #333333;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        &__blurb {
          font-size: 15px;
          color: #6a6a6a;
          margin-bottom: 20px;
        }
        &__icon {
          i {
            font-size: 20px;
            margin-bottom: 40px;
            padding: 5px;
          }
          span {
            @include customSpan(30px, 8px, 2px, $colorSilver);
          }
  
          i:nth-child(2) {
            @include customIcon(relative, -7px, 1, $color, true);
          }
  
          i:nth-child(3) {
            @include customIcon(relative, -7px, 0, $colorSilver, false);
          }
        }
      }

      .photo {
        @include customPosition(relative, 0, 0, 0, 48%, 450px, true);
        overflow: hidden;
        margin-bottom: 100px;

        img {
          width: 100%;
          transition: $time;
        }
        &__layout {
          @include customPosition(absolute, 2.5%, 2.5%, 1, 95%, 95%, true);
          display: block;
          color: $colorWhite;
          font-family: 'roboto';
          border: 1px solid $colorWhite;
          transition: $time;

          text: {
            align: $center;
            transform: uppercase;
          }
          a {
            @include customPosition(absolute, 45%, 50%, 2, 150px, auto, true);
            font-size: 18px;
            color: $colorWhite;
            margin-left: -75px;
            padding: 10px 0;
            border: 1px solid $colorWhite;
            border-radius: 3px;
            @include customVisibility(0, $time, $timeZero);
            
            text: {
              decoration: none;
              transform: uppercase;
            }
          }
          a:hover {
            background: $color;
            border: 1px solid $color;
          }
          &__icon {
            @include customPosition(absolute, 70%, 50%, 2, 40px, auto, true);
            font-size: 18px;
            margin-left: -20px;
            @include customVisibility(1, $time, $timeZero);

            i:nth-child(1) {
              @include customIcon(relative, -2px, 1, $color, true);
            }
            i:nth-child(2) {
              @include customIcon(relative, -2px, 0, $colorWhite, false);
            }
          }
          h4 {
            @include customPosition(absolute, 80%, 50%, 2, 200px, auto, true);
            font-size: 16px;
            margin-left: -100px;
            padding: 5px;
            @include customVisibility(1, $time, $timeZero);
            @extend %customBorder;
          }
          &:hover a {
            @include customVisibility(1, $time, 0.2s);
          }
          &:hover .photo__layout__icon {
            @include customVisibility(0, $time, $timeZero);
          }
          &:hover h4 {
            @include customVisibility(0, $time, $timeZero);
          }
        }
        &:hover img {
          transform: scale(1.1);
          transition: $time;
        }
        &:hover .photo__layout {
          background:rgba(0,0,0,0.3);
          transition: $time;
        }
      }
    }
  }
}
